.user-header,.admin-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #a03037;
  padding: 0.7% 5%; 
  color: white;
  gap: 2rem; 
  min-width: 603px;
  position: fixed;
  width: 90%; 
  height: 6%;
  z-index: 1000;
}

.header {
  .logo {
    display: flex;
    align-items: center;
    gap: 1em;

    .logo-image {
      width: 2.5em;
      height: auto;
    }
  }
  .search-bar {
    flex: 1;
    margin: 0 1.25em;
    padding: 0.5em;
    border: none;
    border-radius: 0.25em;
    max-width: 50%;
  }
  .user-actions {
    display: flex;
    gap: 1.5em;
    .icon {
      display: flex;
      align-items: center;
      gap: 0em;
      cursor: pointer;
      .label {
        margin-top: -0.2em;
        font-size: 0.7em;
        font-family: "Roboto", sans-serif;
      }
    }

    .cart-icon {
      position: relative;

      .shopping-cart-icon {
        width: 1.7em;
        height: 1.7em;
        font-size: 1em;
        color: white;
      }

      .cart-icon-wrapper {
        position: relative;
      
        .cart-count {
          position: absolute;
          top: -5px;
          right: -5px;
          background-color: #ff5722;
          color: white;
          font-size: 0.75em; 
          font-weight: bold;
          padding: 0.2em 0.4em; 
          border-radius: 50%;
          min-width: 1.0em; 
          height: 1.0em; 
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      

      .cart-badge {
        position: absolute;
        top: -6px;
        right: -7px;
        background-color: white;
        color: #a03037;
        border-radius: 50%;
        font-size: 0.9em;
        font-weight: bold;
        width: 1.1em;
        height: 1.1em;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
.header-msg-wlc {
  text-align: left;
  font-family: "Roboto", sans-serif;
  color: #0a0102;
}
.header-msg {
  text-align: left;
  font-family: "Roboto", sans-serif;
  color: #878787;
}
.header-login-btn {
  border: 1px solid #a03037;
  border-radius: 2px;
  padding: 0.5em 1em;
  background-color: transparent;
  color: #a03037;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #a03037;
    color: white;
  }
}

.css-i3w3h8-MuiButtonBase-root-MuiMenuItem-root {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding: 8px 12px;
  margin: 0; 
  gap: 4px; 
  min-height: unset; 
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 0.625em 4%;
    gap: 8%;
    width: 100%;
  }

  .search-bar {
    max-width: 30%;
  }

  .user-actions {
    gap: 0.75em;
  }

  .logo .logo-image {
    width: 2em;
  }
}

@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    padding: 0.625em 4%;
    gap: 2em;
    width: 100%;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 1em;
  }

  .search-bar {
    width: 70%;
    max-width: unset;
    margin-bottom: 1em;
  }

  .user-actions {
    flex-direction: column;
    gap: 1em;
  }

  .icon .label {
    display: none;
  }

  .logo .logo-image {
    width: 2em;
  }
}