.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .reset-form-box {
    width: 30%;
    padding: 2em;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .reset-logo {
    font-size: 2rem;
    color: #db2828;
    margin-bottom: 1em;
  }
  
  .reset-input-field {
    margin-bottom: 1.5em;
  }
  
  .reset-submit-button {
    background-color: #ff4d4d;
    color: blue;
    border: none;
    padding: 0.75em 1.5em;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 3vh !important;
  }
  
  .reset-submit-button:hover {
    background-color:rgba(0, 0, 255, 0.789);
    color: white;
  }
