.CopyRight {
    display: flex;
    justify-content: left;
    padding-left: 10%;
    align-items: center;
    background-color: black;
    height: 5vh;
    color: white;
    font-size: x-small;
    position: relative;
    min-width: 27vh;
}
