.BookContainer {
    padding: 0% 8%;
    display: flex;
    justify-content: center;
    gap: 2.5%;
    flex-wrap: wrap;
    padding-top: 2em;
    position: relative;
    min-height: 78.5vh;
}

.Footer {
    display: flex;
    justify-content: center;
    position: sticky;
    margin-bottom: 1%;
}
